<h2>Submit Project</h2>

<div id="new-approval-form">
  <% @projects.each do |project| %>
    <div class="project-add">
      <%= render 'shared/project', project: project %>
      <%= button_to 'Add to group', controller: :approvals, action: :create, group_id: @group.id, project_id: project.id %>
    </div>
  <% end %>
</div>
