<h3><%= list.title %></h3>
<div class="row group-tiles">
  <ul class="thumbnails-small">
    <% for item in list.items.order("position DESC").limit(5) %>
      <li class="project-span">
      	<%= render :partial => partial, :locals => { :project => item.itemable } %><br>
      </li>  
    <% end %>
  </ul>
</div>
<%= link_to "More", list %>
