<div class="section-header"><%= list.title %><%= link_to "see all >", list, :class => 'pull-right more' %></div>

<div class="row offset1-5">
  <ul class="thumbnails">
    <% for item in list.items.order("position DESC").limit(4) %>
      <li class="project-span">
      	<%= render :partial => partial, :locals => { :project => item.itemable } %><br>
      </li>  
    <% end %>
  </ul>
</div>
