<div class="section-header">
	<% if list.title == "" %>
	  <h3>Untitled List</h3>
	<% else %>  
	  <h3><%= list.title %></h3>
	<% end %>  
	<%= link_to "see all >", list, :class => 'more' %>
</div>

<div class="row offset1-5">
  <ul class="thumbnails">
    <% for project in list.get_projects_in_order(5) %>
      <li class="project-span">
      	<%= render :partial => partial, :locals => { :project => project } %><br>
      </li>  
    <% end %>
  </ul>
</div>
