<div class="section-header">
  <!-- TODO move to decorator -->
  <% if @list.title == "" %>
    <h3>
      Untitled List
    </h3>
  <% else %>
    <h3>
      <%= @list.title %>
    </h3>
  <% end %>
</div>

<div class="autopagerize_page_element">
  <div class="row">
    <ul class="thumbnails-small">
      <% for project in @list.sorted_projects(as_owner: @list.listable == current_user) %>
        <li class="project-span">
          <%= render :partial => 'shared/project', :locals => { :project => project } %><br>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <h3>
  <% if @list.listable_type == 'User' and @list.listable.admin? %>
    <%= link_to "< Back", root_path %>
  <% else %>
    <%= link_to "< Back to #{@list.listable.name}", @list.listable %>
  <% end %>
  </h3>
  <p>&nbsp;</p>
</div>
