<h1>Listing amazon_payment_accounts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amazon_payment_accounts.each do |amazon_payment_account| %>
  <tr>
    <td><%= link_to 'Show', amazon_payment_account %></td>
    <td><%= link_to 'Edit', edit_amazon_payment_account_path(amazon_payment_account) %></td>
    <td><%= link_to 'Destroy', amazon_payment_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Amazon payment account', new_amazon_payment_account_path %>
