<div class="comment">

  <%= simple_format(comment.body) %>
  <span class="username"><%= link_to comment.user.name, comment.user -%>,</span>
  <span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>

  <% if can? :destroy, comment %>
    <div class="actions">
      <%= link_to 'delete', comment, :method => :delete %>
    </div>
  <% end %>

  <%# TODO put some kind of badge on the comment if it's by the project owner %>
</div>
