<p>Hey <%= @user.name %>,<p>

<p>Your contribution to <%= @project.name %> has been successfully cancelled. You should be getting a confirmation e-mail from Amazon very soon.</p>

<p>Thanks for your support!</p>

<%= render :partial => "signature" %>
