<p>Hey <%= @user.name %>,</p>

<p>At the request of the owner, project <%= @project.name %> has been deleted.</p>

<p>The next step is to cancel your payment. You will get another e-mail within the next day telling you your payment was successfully cancelled or that there was an issue that we'll need your help to resolve.</p>

<p>Once again, thanks for your contribution! Sorry it didn't work out this time. Please come back and help out some more projects soon!</p>

<%= render :partial => "signature" %>
