<p>Hey <%= @user.name %>,</p>

<p>Congratulations! Your project <%= @project.name %> was successfully funded!</p>

<p>The next step is for us to process all the payments that the users contributing to your project have committed to. Assuming all goes perfectly, the money should be in your Amazon account within the next week. However, it is likely there may be some issues processing the payments. We'll keep you up to date.</p>

<p>Once again, congrats!</p>

<%= render :partial => "signature" %>
