<p>Hello, <%= @user.name %>,</p>

<p>An update has been posted for "<%= @project.name %>."</p>

<p>You may view the update <%= link_to "here", @project %>. Thank you for your contribution!</p>


<%= render :partial => "signature" %>