<p>Hey <%= @user.name %>,</p>

<p>Your project <%= @project.name %> has been successfully deleted.</p>

<p>We will notify your contributors and their payments will be cancelled.</p>

<p>Sorry to see you go. Please come back and try again soon!</p>

<%= render :partial => "signature" %>
