<p>Hey <%= @user.name %>,</p>

<p>Hey there is an update for the project <%= @project.name %>. Check it out here.</p>

<p>Once again, thanks for your contribution!</p>

<%= render :partial => "signature" %>