<p>Hey <%= @user.name %>,</p>

<p>We're very sorry to report that your project <%= @project.name %> did not meet its funding goal by the specified end date.</p>

<p>We will notify your contributors and their payments will be cancelled.</p>

<p>Sorry it didn't work out this time. Please come back and try again soon!</p>

<%= render :partial => "signature" %>
