<p>Hey <%= @user.name %>,</p>

<p>With your help, the project <%= @project.name %> was successfully funded!</p>

<p>The next step is for us to process your payment. You will get another e-mail within the next day telling you your payment was successfully made or that there was an issue that we'll need your help to resolve.</p>

<p>Once again, thanks for your contribution!</p>

<%= render :partial => "signature" %>
