<p>Hey <%= @user.name %>, </p>

<p>We're having some trouble processing your contribution to <%= @project.name %>.
We're taking a look at the situation to figure out what went wrong, and we'll be in contact shortly.</p>

<p>If you have concerns, please get in touch with us at <%= mail_to @admin_address %></p>

<p>Thanks for your patience!</p>

<%= render partial: "signature" %>
