<p>You are receiving an email because a contribution has failed payment and is unretriable.
There is a strong possibility, because of the nature of the error code that the error is the
fault of the project owner or contribution application. See the details below to resolve the issue.</p>

<p>Details:</p>

<p>Action: Contribution failed payment</p>

<p>Contribution id: <%= @contribution.id %></p>

<p>Project: <%= @project.name %></p>

<p>Error: <%= @error.inspect %>

<p>Contribute has sent an email to the user involved telling them that someone
will be in contact shortly to help resolve the issue.</p>

<p>When you're ready, get in touch. <%= mail_to @contribution.user.email %>
