<div id="new-project">
  <h2>Submit Project</h2>
  <p>&nbsp;</p>


<%= form_tag @submit_path do %>
<div class="row well">
	<div class="span1-5">
  	<%= label_tag :project_id, "Project: ", :class => 'pull-right bold' %>
	</div>
	<div class="span4">
  	<%= select("", "project_id", current_user.projects.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Project'}) %>
	</div>
</div>
	
<div class="row well">
	<div class="span3">
  	<%= submit_tag "Submit", :class => 'btn btn-success btn-large pull-right' %>
	</div>
<p>&nbsp;</p>
</div>
<% end %>

</div>