<h1><%= @group.name %></h1>
<%= image_tag @group.picture.url(:show), :class => "projectImage" if @group.picture? %><br>
<% @group.projects.each do |p| %>
	 <%= p.name %>
	 <br>
<% end %>
<%= link_to "Submit One of Your Projects to this group", submit_group_path(@group), :class => 'btn' %>