<div class="field">
  <%= f.label :video, "Project Video (optional): " %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <%= f.file_field :video, :class => 'picture-btn', :id => 'video' %>
  <% unless @video.nil? %>
    <div class="movie-preview">
      <%= render :partial => 'videos/small', :object => @video %>
    </div>
    <div class="pull-left">
      <div class="span4">
        <%= link_to "Remove and Delete Project Video", destroy_video_path(@video), :class => 'danger-button' %>
        <br><br>
        <p><em>This will delete the current movie from your project and delete it. This cannot be reversed but you can always upload the video again.</em></p>
      </div>
    </div>
  <% end %>
</div>
