<!-- for more options checkout out https://developers.google.com/youtube/player_parameters#Parameters -->
<div class="video">
<%= raw yt_client.my_video(@video.yt_video_id).embed_html5({:class => 'video-player', :id => 'my-video', :width => '640', :height => '350', :frameborder => '0', :url_params => {:rel => "0"}})%>
</div>