<div class="group-header">
<h2> Frequently Asked Questions </h2>
<hr>
<h4> Who is behind Contribute MSU? </h4>
<p>
Professor Rick Wash is the creator of Contribute MSU, but he can't do it alone. There is a team of people who have
worked on this system, including Aaron Robinson, Craig Tucker, Benoit Bonnet-Madin, Kim Setili, Andrew Rockwell, Mitchel
Thelen, Jake Wesorick, and Sam Mills. This project is funded by the National Science Foundation under Grant No.
<a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1101266">CCF-1101266</a>. Any opinions, findings and
conclusions or recomendations expressed on this website are those of the author(s) and do not necessarily reflect the
views of the National Science Foundation (NSF).
</p>
<br>
</div>