<h2> Contribute Help </h2>

<p>
You can contact the Contribute MSU team here: <a href="mailto:gethelp@contribute.cas.msu.edu">gethelp@contribute.cas.msu.edu</a>
</p>

<h3>What is Contribute?</h3>
<p>
Welcome to Contribute MSU. Contribute is a great new way for MSU students, faculty, staff and alumni to create, fund and develop ideas. A good idea can grow and spread quickly. Communicating your idea here will allow you to start that process, and with a large audience to give encouragement (and of course money) your idea can become reality.
</p>

<h3>Creating a project:</h3>

<p>
Anyone can create a project. Click the "Create a Project" link at the top and you will be taken through the process. You should give your project a descriptive name, and in order to get noticed you will want to upload a picture that relates to your project. You can also upload a video about your project.
</p><p>
Once you have filled out the new project form, you will be directed to Amazon Payments. We have partnered with Amazon to make getting money for projects and contributing to projects not only quick and easy, but also safe and secure. You will need to have an Amazon Payments account in order to give or receive money through Contribute. The good news is that it is very easy to get one. Just follow the instructions from Amazon and you will be ready to start using contribute in no time! 
</p><p>
Once you link your Amazon Payments account with your Contribute account, you will be directed back to your project. At this point, your project is not yet visible to the public, and you can still edit it until it is perfect. Once you are satisfied, click the "Activate Project" button to make your project visible to the world and start receiving donations. After clicking the "Activate Project" button, you will no longer be able to edit your project, so plan accordingly.
</p><p>
If your project is fully funded by the deadline, you will receive all of the contributions to your project in your Amazon account. If your project is not funded, the contributions will be returned.
</p>

<h3>Creating a group:</h3>
<p>
Groups let you put multiple projects, from multiple users in one place. It's also a great way to discover new projects that you are interested in contributing to. To create a group, simply go to the groups page, and click the "Create a New Group" button. You will be guided through making your group. 
</p><p>
Once you have done that, you are now the owner of a group. An open group allows anyone to have a project in your group. If your group is closed, you have to approve projects before they show up in your group. You will be notified each time a new project is submitted to your group, and you can approve or reject applicants.
</p>
<h3>Creating lists:</h3>
<p>
Users can create lists for their projects, and group owners can create lists for their groups. When you see a "Add new list" button, you can click it to create a list of projects that you want people to see. You can choose what order you want the projects to display in, and which projects are part of the list. This allows you to display your favorite or most successful projects more visibly than others. It is a great way to promote yourself, or your group. 
</p>
<h3>Contributing to a project:</h3>
<p>
Contributing to a project is easy. When you see a project that you like, and want to succeed, all you have to do is go to that project's page, and click "Contribute to this project." You will be taken to another page where you enter the amount you want to donate. After making your contribution, you will be directed to Amazon Payments to make your contribution. 
</p><p>
We have partnered with Amazon to make getting money for projects and contributing to projects not only quick and easy, but also safe and secure. You will need to have an Amazon Payments account in order to give or receive money through Contribute. The good news is that it is very easy to get one. Just follow the instructions from Amazon and you will be ready to start using contribute in no time!
</p><p>
Currently, Contribute is powered by an all-or-nothing funding method. A project must be fully funded before any money changes hands. If any of the projects you have contributed to meet their goal by the deadline, your contribution will be sent to them. If they do not reach their goal by the deadline, you will receive your money back. Please note that for the duration of the project there will be a hold on the money you contribute, but until the project deadline no money changes hands.
</p><p>
If you have additional concerns, pleas email <a href="mailto:gethelp@contribute.cas.msu.edu">gethelp@contribute.cas.msu.edu</a>
</p>




