<div class="group-header">
<h2> Terms and Conditions </h2>
<hr>
<p>
Contribute is not responsible for any of the content posted on this website. All projects are owned by their creators.
Please do not post images and/or videos that you do not have the rights to post.
</p>
<p>
Funds do not change hands until the specified deadline for a project has arrived and the project has received enough
donations to fully fund it.
</p>
<p>
Do not contribute money to your own project.  Amazon will not let you pay the same account, and Contribute MSU's policy
is to now allow contributions to ones own projects.
</p>
<p>
Creators are under no legal obligation to use the money for the project specified.  However, there is a social
obligation to the donors to use the money for the specified project, or something as close as possible and at least as
interesting as the specified project.
</p>
<br>
</div>