<% if @project.picture? %>
Current Picture: <%= image_tag(@project.picture.url(:thumb)) %><br>
<% end %>

<div class="row">
    <%= f.label :picture, "New Picture (optional): ", :class => 'pull-left' %> &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
</div>
