<div id="header">
  <span class="byline">Michigan State University's crowd funding platform. Contribute to creativity.</span>
</div>

<% if params[:search] && @projects.count == 0 %>
  <p>
  Sorry, no projects were found that matched your search terms.
  </p>
<% end %>

<div class="projects">
<% @projects.each do |project| %>
  <%= render partial: 'shared/project', locals: {project: project} %>
<% end %>
</div>
