<div id="createBox">
	<h1>Create a Project</h1>
	<p>Blurb about getting your project funded</p>
	<p>Reasons to create a project.</p>
	<p>Linked to create project page</p>
</div>


<div id="fundBox">
	<h1>Fund a Project</h1>
	<p>Blurb about funding a project</p>
	<p>Why you should fund</p>
	<p>Linked to categories page? or something </p>
</div>

<div class="column1">
	<% @projects1.each do |project| %>
		<%= render project%>
	<% end %>
</div>
<div class="column2">
	<% @projects2.each do |project| %>
		<%= render project%>
	<% end %>
</div>
<div class="column3">
	<% @projects3.each do |project| %>
		<%= render project%>
	<% end %>
</div>
<br>
<% if user_signed_in? %>
	<%= link_to "Create Project", new_project_url %>
<% end %>
