<div id="header">Michigan State University's crowd funding platform. Contribute to creativity.</div>

<% @projects.each do |project| %>
  <%= render partial: 'shared/project', locals: {project: project} %>
<% end %>
