<div id="newEditProject">

  <h1>Create a New Project</h1>
  <%= render "form" %>
	<p>The last step in creating your project is associating it with an Amazon Payments account so that your donations have somewhere to go when your project is funded. Clicking submit will redirect you to Amazon Payments. Once you've completed associating your account you will be brought back here.</p>
  <p id="returnLink"><%= link_to "Return to Projects", projects_url %></p>  
</div>
