<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#project_name').focus();
    });
  </script>
<% end %>

<div class="form">
  <h2>Welcome to your new project.</h2>
  <p>&nbsp;</p>
  <%= render "new_form" %>
</div>
