# `config/secrets.rb` should *NEVER* be placed in version control.
# Because we have a public repository, andy passwords or access keys
# that are in the repository are exposed to the world.
#
# Instead, please keep `config/secrets.rb.sample` updated with a list
# of the parameters that must be defined in `config/secrets.rb`.
#
# The actual `secrets.rb` file will be included by `config/environments.rb`,
# so any values defined in `secrets.rb` will be accessible in the app.

# Braintree payment processing
Braintree::Configuration.merchant_id = "........"
Braintree::Configuration.public_key = "........"
Braintree::Configuration.private_key = "........"
