@import 'bourbon';
@import 'neat';

.new-approval {
  @include span-columns(3 of 12);
  &:nth-child(4n) {
    @include omega;
  }
  .project-card {
    text-align: left;
    @include fill-parent;
  }
  text-align: center;
  /* TODO revisit project card vertical height styling */
  height: 40em;
}

.modal {
  form {
    margin-bottom: 0;
    textarea { @include fill-parent; }
  }

  .modal-footer {
    a, input {
      @include span-columns(1 of 2);
      text-align: center;
    }
  }
}

.pending-approvals {
  .pending-approval {
    @include span-columns(3 of 12);
    text-align: center;

    &:nth-child(4n) { @include omega; }
    .project-card {
      @include fill-parent;
      text-align: left;
    }
    margin-bottom: $gutter;
  }
}
