@import 'bourbon';
@import 'neat';

#comments {
  .comment {
    margin-top: $gutter;
    border-left: 3px solid #CCC;
    padding-left: .5em;
    @include fill-parent;
    .time {
      color: #AAA;
    }
    @include clearfix;
  }
}
