// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contribution {
	width: 400px;
	margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

}
