/***** Index *******/
.group-link {
	display: block;
	width: 660px;
	height: 50px;
	z-index: 99;
	position: absolute;
	margin-top: -10px;
	padding-top: 10px;
}
.group-pic {
  float: right;
  margin-top: -30px;
  padding-left: 2px;
}
.group-bar {
  position: relative;
}
.num-projects {
  background-color: rgba(0,0,0,0.4);
  padding-left: 3px;
  padding-right: 3px;
  color: #FFF;
  float: right;
  position: absolute;
  right: 10px;
  z-index: 2;
  margin-top: -26px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.group-name {
  display: block;
  width: 260px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6em;
  color: #4a4a4a;
  margin-bottom: -15px;
}
.group-description {
  display: block;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -6px;
}
.sidebar-group {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 93%;
  display: block;
  margin-bottom: -15px;
  color: #4a4a4a;
  font-weight: bold;
  padding-left: 15px;
}
.sidebar-needs-approval {
  color: #4a4a4a;
  padding-left: 30px;
  margin-top: -5px;
  margin-bottom: -15px;
  display: block;
}
.sidebar-needs-approval a{
  color: #4a4a4a;
}

/***** Show *******/
.group-header {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.groupImage {
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 25px;
}
.add-btn {
  width: 140px;
}
.thumbnails-small ul {
  margin-left: 0px;
  margin-right: 0px;
  list-style: none;
  display: inline;
           *zoom: 1;
}
.thumbnails-small li {
  margin-left: 9px;
}
.thumbnail-small {
  background-color: #FFF;
  color: #4a4848;
  width: 171px;
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.group-tiles {
  margin-left: 80px;
}

/***** Admin *******/
.admin-header {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.admin-lists {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.edit {
  font-size: 12px;
  color: #6b9199;
  font-weight: normal;
}
.edit-pad {
  margin-right: 10px;
}
