/***** Show *******/
.groupImage {
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 25px;
}
.thumbnails-small ul {
  margin-left: 0px;
  margin-right: 0px;
  list-style: none;
  display: inline;
           *zoom: 1;
}
.thumbnails-small li {
  margin-left: 9px;
}
.thumbnail-small {
  background-color: #FFF;
  color: #4a4848;
  width: 171px;
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/***** Admin *******/
.admin-header {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.admin-projects {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.edit {
  font-size: 12px;
  color: #6b9199;
  font-weight: normal;
}
.edit-pad {
  margin-right: 10px;
}
/*# TODO get rid of this, use Neat instead*/
.span1-5 {
  width: 113px;
}
.picture-btn {
	margin-top: -5px;
}
