/***** Layout *******/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(bg.jpg);
	background-repeat: repeat;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.row {
  	margin-left: 0px;
  	*zoom: 1;
}
#navigation {
	background-color: #4a4848;
	height: 70px;
	width: 100%;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #8f8e8e;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}
#navigation-inner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	height: 70px;
}
#logo {
	float: left;
	padding-top: 2px;
}
#navigation-inner ul{
	float: left;
	list-style: none;
	margin-left: -10px;
}
#navigation-inner ul, li{
	display: inline;
	padding-left: 50px;
	padding-top: 27px;
}
#navigation-inner li a {
	color: #e0e0e0;
	font-size: 18px;
	text-decoration: none;
}
#navigation-inner li a:hover {
	color: #FFF;
	text-decoration: underline;
}
#account-options {
	float: right;
	padding-top: 27px;
	color: #e0e0e0;
	a {
		color: #e0e0e0;
		font-size: 14px;
	}
	a:hover {
		color: #FFF; 
	}
}
#flash {
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	a {
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
}

/****** footer *******/

#footer {
	background-color: #FFF;
	opacity: 0.4;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	border-top: 3px solid #4a4848;
}
#footer-inner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#footer-links {
	font-weight: bold;
	text-align: right;
	float: left;
	border-right: 2px solid #636363;
	padding-right: 15px;
	font-size: 16px;
	a {
		color: #000;
	}
}
#footer-text {
	float: right;
	font-size: 12px;
	width: 865px;
}

/********************************* Projects **************************************/

/************************************** Users ************************************/

/************************************* Contributions *****************************************/


