
body {
        background: #AC8;
}

h1, h2, h3, p, a, li {
        /*font-family: Arial, Helvetica, sans-serif;*/
        /*font-family:  Georgia, "Times New Roman", Times, serif;*/
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a {
        color: #000;
        text-decoration: underline;
}

a:hover {
        text-decoration: none;
}

.btn {
}



/***** Layout *******/


#header {
        background: -webkit-gradient(linear, left top, left bottom, from(#AFD4DA), to(#91c3cc));
        background: -moz-linear-gradient(bottom, #91c3cc, #AFD4DA);
        box-shadow: 0px 5px 10px #000;
        -moz-box-shadow: 0px 5px 10px #000;
}

.logo {
        width: 200px;
        margin-left: 100px;
        border: none;
}

#navigationOptions {
        position: absolute;
        top: 20px;
        right: 40px;
        margin-left: auto;
	a {
		text-decoration: none;
		color: #284F25;
	}
	font-size: 14px;
}

#flash {
	padding-top: 20px;
	margin: auto;
	width: 300px;
	a {
		text-decoration: none;
		font-family: "Times New Roman", serif;
	}
}

/****** footer *******/
#footerWrapper {
        width: 1150px;
        margin: auto;
}
#aboutContribute {
        background: #FFFFF0;
        width: 1100px;
        border:  solid 1px #000;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
	padding: 20px;
        h3, p{
                padding-left: 200px;
                padding-right: 200px;
        }
}

#footer {
        background: #FFFFF0;
        width: 800px;
        left: 200px;
        border:  solid 1px #000;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1px;
        padding-left: 20px;
	padding: 20px;
}

#copyright {
        background: inherit;
        text-align: center;
        font-size: 12px;
        position: relative;
	padding-top: 5px;
}


/********************************* Projects **************************************/

/************************************** Users ************************************/

/************************************* Contributions *****************************************/


