@import 'bourbon';
@import 'neat';

#header {
  @include row;
  h1 { font-size: 2.4em; }
  h2 {
    font-style: italic;
    text-align: right;
  }
	color: #636363;
  padding-bottom: $gutter;
  border-bottom: .5em dashed #CCC;
  margin-bottom: $gutter;
}
