// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** Layout *******/

#header {
	border-bottom: {
		style: solid;
		width: 1px;
		color: #000;
	}
}

.logo {
	width: 300px;
	margin: {
		left: 80px;
	}
}

#navigationOptions {
	position: absolute;
	top: 20px;
	right: 40px;
}


/**** Index *****/
#createBox, #fundBox {
	border: {
                style: solid;
                width: 3px;
                color: #000;
		radius: 30px;
        }
	width: 400px;
        height: 200px; 
	padding-left: 10px;
	h1 {
		text-align: center;
	}
}

#createBox {
	position: relative;
	top: 50px;
	left: 180px;
}

#fundBox {
	position: absolute;
	top: 215px;
	left: 650px;
}

/**** Project Preview *****/

.column2, .column3 {
	position: absolute;
	top: 370px;
}
.column2{
	margin-left: 320px;
}

.column3{
	margin-left: 650px;
}



#projectPreview {
	background:{ 
		image: url(project_preview_divider.png);		
		repeat: no-repeat;
		position: bottom;
	}
	margin: {
		top: 100px;
		left: 130px;
	}
	padding: 10px;
	border: {
		width: 1px;
		style: solid;
		color: #999;
		radius: 15px;
	}
	box-shadow: 7px 7px 3px #000;
	width: 250px;
	height: 400px;

	a {
		color: #5d8fd2;
		font-size: 24px;
		text-decoration: none;
		&:hover{ color: #0F0;}
	}

	ul {
		list-style: none;
	}

	li {
		display: inline;
		font-size: 13px;
		padding-right: 10px;
	}
}

.project_footer{
	position: relative;
	top: 110px;
	margin-bottom: 5px;
	}

.projectPreviewImage {
	padding: {
		top: 10px;
		bottom: 10px;
	}
}

.projectImage {
	padding: {
		top: 20px;
		bottom: 20px;
	}
}

.progressBar {
	width: 25px;
	height: 400px;
	display:table-cell;
	vertical-align:bottom;
}

.floatRight {
	float: right;
}


/******* Project Show *******/

#projectHead {
	margin-top: -22px;
	border: {
		style: none solid solid;
		width: 1px;
		color: #000;
	}
	li {
		display: inline;
		padding-left: 70px;
	}

	ul {
		list-style: none;
	}
}

#projectContent {
	border: {
		style: solid;
		width: 1px;
		color: #000;
	}
	margin-left: 50px;
	margin-right: 50px;
	margin-top: -20px;
}

/******* New/Edit Project ******/

#newEditProject {
	width: 800px;
	margin-left: 200px;
	border: {
		style: solid outset outset;
		width: 1px 3px;
		color: #000;
	}
	padding: {
		top: 15px;
		bottom: 15px;
		left: 100px;
	}
}

#form{
	margin-left: 30px;
}


/******* New User ********/
/*
#new_user {
	border: {
		style: outset;
		width: 3px;
		color: black;
		radius: 15px;
	}
	width: 300px;
	padding: {
		left: 20px;
		bottom: 10px;
	}
	margin: {
		left: 400px;
		top: 100px;
	}
	background-color: #CFCFCF;
}
*/

/****** footer *******/

#aboutContribute {
	border: {
		style: solid;
		weight: 1px;
		color: #000;
	}
	margin-top: 100px;
}

#footer {
	border: {
                style: solid;
                weight: 1px;
                color: #000;
        }
	margin-left: 200px;
	margin-right: 200px;
	margin-top: -3px;
}

#copyright {
	text-align: center;
	font-size: 12px;
	padding: 5px;
	margin-top: -3px;
	border: {
                style: solid;
                weight: 1px;
                color: #000;
        }
}
