// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projectPreview {
	background:{ 
		image: url(project_preview_divider.png);
		repeat: no-repeat;
		position: bottom;
	}
	margin: 30px;
	padding: 10px;
	border: {
		width: 1px;
		style: solid;
		color: #999;
		radius: 15px;
	}
	box-shadow: 7px 7px 3px #000;
	width: 250px;
	height: 400px;

	a {
		color: #5d8fd2;
		font-size: 24px;
		text-decoration: none;
		&:hover{ color: #0F0;}
	}

	ul {
		list-style: none;
	}
}

.project_footer{
	position: absolute;
	}

.projectPreviewImage {
	padding: {
		top: 10px;
		bottom: 10px;
	}
}

.projectImage {
	padding: {
		top: 20px;
		bottom: 20px;
	}
}

.progressBar {
	width: 25px;
	height: 400px;
	display:table-cell;
	vertical-align:bottom;
	
}

.floatRight {
	float: right;
}


#new_user {
	border: {
		style: outset;
		width: 3px;
		color: black;
		radius: 15px;
	}
	width: 300px;
	padding: {
		left: 20px;
		bottom: 10px;
	}
	margin: {
		left: 350px;
		top: 100px;
	}
}
