// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**** Index *****/

#alignBox {
        margin: {
		left: auto;
		right: auto;
		top: 50px;
	}
        width: 1065px;
	height: 200px;
}


#createFundBox {
	display: inline-table;
	margin-bottom: 0px;
	background: #FFFFF0;
	width: 500px;
        height: 190px;
        padding-left: 20px;
	border: {
                style: outset;
                width: 5px;
                color: #666;		
        }
	h1 {
		text-align: center;
		line-height: 25px;
	}
	a {text-decoration: none;}
	p {
		margin-right: 40px;
		font-size: 14px;
	}
	ul{display: inline;}
	li {list-style: none;}
}

#indexWrapper{
	position: relative;
	margin: {
		left: auto;
		right: auto;
		top: 50px;
	}
	width: 950px;
}

/**** Project Partial *****/

.column2, .column3 {
	position: absolute;
	top: 0px;
}
.column2{
	margin-left: 340px;
}

.column3{
	margin-left: 670px;
}



#projectPreview {
	background: -moz-linear-gradient(top, #CCCCCC, #AAAAAA);
	background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#999999));
	background:{
		/*image: url(project_preview_divider.png), url(projects_background.png);*/
		repeat: no-repeat;
		position: bottom;
	}
	padding: 10px;
	margin-bottom: 70px;
	border: {
		width: 0px;
		style: solid;
		color: #999;
		radius: 10px;
	}
	-moz-border-radius: 10px;
	box-shadow: 10px 10px 5px #000;
	-moz-box-shadow: 10px 10px 5px #000;
	width: 250px;
	height: 400px;
	a {
		color: #000;
		font-size: 24px;
		text-decoration: none;
	}
	ul {list-style: none;}
	li {
		display: inline;
		font-size: 13px;
		padding-right: 10px;
	}
	position: relative;
}

.project_footer{
	width: 233px;
	line-height: 8px;
	position: absolute;
	left: 0px;
	bottom: -4px;
}

.projectPreviewImage {
	padding: {
		top: 10px;
		bottom: 10px;
	}
}

.progressBar {
	width: 25px;
	height: 400px;
	display:table-cell;
	vertical-align:bottom;
}

.floatRight {
	float: right;
}


/******* Project Show *******/
#projectWrapper{
	width: 780px;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
}

#projectHead {
	li {
		display: inline;
		padding-left: 70px;
	}

	ul {
		list-style: none;
	}
}

#projectInfo{
	position: absolute;
	margin: auto;
	top: 200px;
	left: -15px;
	padding: 10px;
	li {
		list-style: none;
		line-height: 50px;
	}
}
#projectContent {
	border-left: {
                style: solid;
                width: 1px;
                color: #000;
        }
	padding: {
		top: 20px;
		bottom: 20px;
	}
}

.projectImage {
        padding: {
                top: 20px;
                bottom: 20px;
        }
}

#editLink {
        position: absolute;
	top: 120px;
	right: 130px;
	width: 120px;
	height: 20px;
}


/******* New/Edit Project ******/

#newEditProject {
	background: #DADAB5;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	margin-top: 50px;
	padding: {
		top: 15px;
		bottom: 35px;
		left: 100px;
	}
	box-shadow: 0px px 10px black;
        -moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	p {
		padding-right: 100px;
	}
}

#form{
	margin-left: 30px;
}

#returnLink {
	position: relative;
}
