@import 'bourbon';
@import 'neat';

.form-header { text-align: center; }
form {
  overflow: hidden;
  .field {
    margin-top: $gutter;
    @include row;
    label {
      text-align: right;
      @include span-columns(3 of 12);
    }
    input:not([type=submit]):not([type=file]), textarea {
      @include span-columns(6 of 12);
      padding: $gutter;
    }
    .help-block { @include span-columns(2 of 12); }

    .field_with_errors {
      &:first-child { @include span-columns(3 of 12); }
      &:nth-child(2) { @include span-columns(6 of 12); }
      label, input:not([type=submit]):not([type=file]), textarea {
        @include fill-parent;
      }
      .cke_textarea_inline { @include fill-parent; }
    }
    /* Make the CKEditor div look like a form field */
    div.cke_textarea_inline {
      @include span-columns(8 of 12);
      background-color: #FFF;
      border: 1px solid rgb(204,204,204);
      border-radius: 4px;
      min-height: 16em;
    }
  }
  div.submit {
    margin: $gutter;
    @include span-columns(4 of 12);
    @include shift(4);
    input { @include fill-parent; }
  }
}

#error_explanation {
	margin: 0px;
	padding: 0px;
  ul {
    margin: 0px;
    padding-left: 60px;
    padding-bottom: 20px;
    list-style: circle;
    li {
      margin: 0px;
      padding: 0px;
      display: list-item;
    }
  }
}
