@import 'bourbon';
@import 'neat';
@import 'mixins/card';

.project-header {
  overflow: hidden;
  margin-bottom: $gutter;
  h1 {
    margin: 0;
    display: inline;
    @include span-columns(9 of 12);
  }
  .metadata {
    @include span-columns(3 of 12);
    text-align: right;
    .location, .byline {
      font-size: 1.5em;
      margin-bottom: $gutter / 2;
    }
  }
}

.next-action {
  @include span-columns(6 of 12);
  @include omega;
  @include card;
}

/* TODO move this to a shared stylesheet */
.statistics {
  overflow: hidden;
  margin-bottom: $gutter;
  .stat {
    text-align: center;
    @include span-columns(2 of 6);
    .number {
      font-size: 2.5em;
      @include span-columns(2 of 2);
      @include omega;
    }
    line-height: $gutter * 1.5;
  }
}

.project-info-wrapper {
  @include row;
  margin-bottom: $gutter;
  .project-media {
    @include span-columns(6 of 12);
    img { padding: 0; }
  }
}

#project {
  @include span-columns(9 of 12);
  #description {
    @include card;
  }
  #updates {
    .userImage{ padding-right: 10px; float: left;}
    .comment { margin-top: 50px;}
    li { list-style: none; }
    a { font-size: 20px; font-weight: bold;}
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#project-sidebar {
  @include span-columns(3 of 12);
  @include omega;
}

#contributors {
  .userImage{ padding-right: 10px;}
  li { list-style: none; }
  a {
    text-decoration: none;
    font-size: 14px;
    /* TODO darken the background instead of underlining */
    &:hover { text-decoration: underline; }
  }
}

#comments{
  .userImage{
    padding-right: 10px; float: left;
    width: 50px;
  }
  .comment { margin-top: 50px;}
  li { list-style: none; }
  a { text-decoration: none; }
  a { font-size: 20px; font-weight: bold;}
  a:hover { text-decoration: underline; }
}

.alert {
  a {
    text-decoration: none;
    color: #81683c;
    font-weight: bold;
  }
  a:hover { text-decoration: underline; }
}

.deleted {
  color: #6e6e6e;
  background-color: #dfdfdf;
  font-weight: bold;
  padding-right: 2px;
  padding-left: 2px;
}
