@import 'bourbon';
@import 'neat';
@import 'mixins/card';

.project-card {
  @include card;
  @include span-columns(3 of 12);
  &:nth-child(4n) { @include omega; }
  .metadata {
    height: 14em;
    overflow: hidden;
    margin-bottom: $gutter;
  }

  .byline { margin: $gutter/2; }
}
