/* Stylesheet for users */

/******* New User ********/

#new_user, #sign_in, #edit_user {
	margin-left: 500px;
	margin-top: 50px;
}

#edit_user h2 {
	margin-left: -20px;
}

.form_field {
	margin-bottom: 20px;
}
