@import 'bourbon';
@import 'neat';

/******* Edit User *******/
div#statistics {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  span.number {
    font-size: 4em;
  }
}

/******* New User ********/

.alternative-actions {
  @include span-columns(6);
  @include shift(3);
  li {
    list-style: none;
    margin-bottom: $gutter/2;
  }
  margin-bottom: $gutter;
}

/******* User Profile *******/

.profile-head {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.profile-pic {
  width: 150px;
}
#userContributions {
  margin-top: 50px;
}
.userProjects, #userContributions {
  li { list-style: none; }
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}

/*******Forgot/edit password******/

#forgotPassword {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
#editPassword {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

/******Resend Email confirmation ******/
#resendEmail {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
