/* Stylesheet for users */

/******* New User ********/

#new_user, #sign_in, #edit_user {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 500px;
}

#new_user, #sign_in {
	padding-left: 350px;
}

#edit_user {
	padding-left: 150px;
}

#edit_user h2 {
	margin-left: -20px;
}

.form_field {
	margin-bottom: 20px;
}


/******* User Profile *******/

#userProfile {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	h1{
		position: absolute;
		top: 25px;
		left: 250px;
	}
	h2 {
		position: absolute;
		top: 65px;
		left: 250px;
	}
}

.userProjects {
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}

.userImage {
	margin: {
		top: 50px;
	}
}

/*******Forgot/edit password******/

#forgotPassword {
	margin: {
		top: 50px;
		left: auto;
		right: auto;
	}
	width: 250px;
}

#editPassword {
	margin: {
		top: 50px;
		left: auto;
		right: auto;
	}
	width: 250px;
}


/******Resend Email confirmation ******/
#resendEmail {
	margin: {
		top: 50px;
		left: auto;
		right: auto;
	}
	width: 250px;
}
