<p>Hey <%= @resource.name %>,</p>

<p>Welcome to Contribute!</p>

<p>You can confirm your account through the link below:<br/>
<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<%= render :partial => "signature" %>

