<p>Hey <%= @resource.name %>,</p>

<p>We received a request to change your password, which you can do via the link below:<br/>
<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Your password won't change until you access the link above and create a new one.</p>
<p>If you didn't request this, please ignore this email.</p>

<%= render :partial => "signature" %>
