<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>search</title>
    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle d="M10,17 C13.8659934,17 17,13.8659934 17,10 C17,6.13400656 13.8659934,3 10,3 C6.13400656,3 3,6.13400656 3,10 C3,13.8659934 6.13400656,17 10,17 Z M10,17" id="Oval-1" stroke-width="2" sketch:type="MSShapeGroup" cx="10" cy="10" r="7"></circle>
        <path d="M20.5276265,20.5276265 L15.9891356,15.9891356" id="Line" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
